.test {
  background-color: #fdf6e4;
}

.profileCard {
  margin: 50px 0;
}

.sideBarTitle {
  /* margin-bottom: 20px; */
  font-family: var(--font-mono);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #242424;
}

.sideBarInfo {
  font-family: var(--font-mono);
  text-transform: initial;
  align-items: baseline;
  /* font-size: 14px; */
  margin: 5px;
  font-size: 14px;
  color: #2c2c2c;
}

.avatarProfile {
  width: 200px;
  height: 200px;
  margin: 25px auto;
  border-radius: 50%;
  overflow: hidden;
}

.generalContact {
  padding-bottom: 5px;
}

.generalInlineInfo {
  display: inline-flex;
}

.skillBar {
  width: 100%;
  height: 5px;
  background-color: #dedede;
  margin-bottom: 15px;
}

.skillBarData {
  background-color: #4a4949;
  color: #4a4949;
  height: 5px;
  font-size: 2px;
}
.languageStyle {
  font-family: var(--font-mono);
  text-transform: initial;
  align-items: baseline;
  /* font-size: 14px; */
  padding-right: 5px;
  font-size: 12px;
}

.profileName {
  font-family: var(--font-mono);
  font-size: 24px;
  text-transform: uppercase;
  margin: 15px 0;
}

.profileTitle {
  font-family: var(--font-mono);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 25px 0 0 0;
  font-size: 18px;
  color: #242424;
}

.profileSubTitle {
  /* opacity: 80%; */
  font-family: var(--font-mono);
  font-weight: bold;
  /* margin: 20px 0 10px 0;
  font-size: 18px; */
  margin: 10px 0 5px 0;
  font-size: 14px;
  color: #2c2c2c;
}
.profileBody {
  font-family: var(--font-mono);
  margin: 0 0 5px 0;
  font-style: italic;
  font-size: 14px;
}
.profileText {
  font-family: var(--font-mono);
  margin: 5px 0;
  line-height: 20px;
  text-align: justify;
  font-size: 14px;
  color: #848484;
}
.profileTimeStamp {
  font-family: var(--font-mono);
  /* margin: 20px 0 5px 0; */
  color: #848484;
  margin: 10px 0 5px 0;
  font-size: 14px;
  text-align: right;
}

/*For Mobile and Printing*/

@media (max-width: 700px) {
  .profileTimeStamp {
    margin: 5px 0;
  }
}
.footerTitle {
  font-family: var(--font-sub);
  font-weight: 900;
  text-transform: initial;
  letter-spacing: 1px;
  margin: 0;
  font-size: 18px;
  color: #2c2c2c;
}

.printButton {
  margin: 10px;
  opacity: 80%;
}
